<mat-toolbar class="header">
    <span>
        <a>
            <img class="logo" src="../../../../assets/images/logo.png" alt="logo">
        </a>
    </span>

    <span class="title-group">
        <a>
            <i class="material-icons">
                home
            </i>
            Home
        </a>
    </span>

    <span class="title-group">
        <a class="sair" routerLink="/">
            <i class="material-icons">
                logout
            </i>
           Sair
        </a>
    </span>



</mat-toolbar>
