<mat-sidenav-container class="container"> 
 <mat-sidenav class="side-nav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
     <mat-nav-list class="nav-list">
        <a class="inicio"mat-list-item routerLink="/">
            <i class="material-icons">
                home
            </i>
            Home
        </a> 
        
        <a class ="vendaa"mat-list-item routerLink="venda">
            <i class="material-icons">
                shopping_cart
            </i>
            Pedido de Venda
        </a>    

        <a class="medica" mat-list-item routerLink="medicamentos">
            <i class="material-icons">
                next_week
            </i>
            Medicamentos
        </a>   

        <a class="lotes"mat-list-item routerLink="lotes">
            <i class="material-icons">
                inventory_2
            </i>
            Lotes
        </a>   

        <a class="pa"mat-list-item >
            <i class="material-icons">
                done
            </i>
            Principios Ativos
        </a>   

        <a class = "users"mat-list-item routerLink="clientes">
            <i class="material-icons">
                account_circle
            </i>
           Usuarios
        </a> 

    

        <a class="lbt"mat-list-item routerLink="lab">
            <i class="material-icons">
                apartment
            </i>
           Laboratório
        </a> 


       
    
     

        


     </mat-nav-list>
 </mat-sidenav>

 <mat-sidenav-content class="content">
     <router-outlet></router-outlet>
 </mat-sidenav-content>

</mat-sidenav-container>